@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
* {
  box-sizing: border-box;
}

body {
  background: url(p.jpg);
  color: black;
  font-family: sans-serif;
  font-size: 100%;
  overflow: scroll;
}
*{
  margin:0px;
  padding: 0px; 
}

.menu{
  width: 100%;
  height: 80px;
  background-color: rgba(0,0,0,0.5);
}
.leftmenu{
  
  line-height: 80px;
  float: left;  
  color: white;
}
.leftmenu p{
  padding-left: 70px;
  font-weight: bold;
  color: white;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
}
.rightmenu{
  width: 60%;
  height: 100px;
  float: right;
}
.rightmenu ul{
  margin-left:  300px;
}
.rightmenu ul li{
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  list-style: none;
  font-size: 15px;
  color: white;
  font-weight: bold;
  line-height: 100px;
  margin-left: 40px;
  text-transform: uppercase;
  cursor: pointer;

}
}
.rightmenu ul li: hover
{
  color: white;
  cursor: pointer;
}
.rightmenu ul li a
{
  color: white;
  font-family: cursive;
  cursor: pointer;
}

.diamond {
  position: absolute;
  background: #b0aeae;
  border-style: ridge;
  line-height: 20px;
  font-weight: bolder;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  height: 555px;
  width: 555px;
  background: #2ff4;
  border-radius: 8px;
  box-shadow: 0px 0px 50px 20px rgba(17, 17, 17, 0.2);
  transition: all 3s ease-in-out;
}

.form-wrap {
  position: absolute;
  text-align: center;
  background: #c5bebe;
  display: run-in;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1em;
  width: 400px;
  box-shadow: 0px 0px 50px 20px rgba(17, 17, 17, 0.2);
}
.h2{
  text-align: center;
  font-family: sans-serif;
  margin-top: 50px;
  font-size: 100%;
}
fieldset{
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove;
}
input {
  padding: 15px 10px;
  border: 1px solid;
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow: 1px 3px 20px rgba(17, 17, 17, 0.1);
  width: 100%;
  height: 45px;
  outline: #8DFEE1;
}

label {
  padding-bottom: 10px;
  display: inline;
  float: left;
}

.counter-btn {
  position: relative;
  display: inline-block;
  height: 80px;
  text-align: top;
  vertical-align: top;
  font-size: 1.5em;
  font-weight: 300;
  width: 40px;
  background: #fff;
  border: none;
  margin-bottom: 20px;
  border-radius: 50%;
  box-shadow: 1px 3px 20px rgba(17, 17, 17, 0.1);
  cursor: pointer;
  outline: none;
}
.guests {
  margin: 10px;
}
#cnt{
  border-style: ridge;
}

.dates .arrival {
  display: inline-block;
  float: left;
  width: 45%;
}
.dates .departure {
  display: inline-block;
  float: right;
  width: 45%;
}

.btn {
  border: none;
  padding: 10px;
  margin: 20px auto;
  width: 100%;
  height: 45px;
  display: block;
  background: #FEA88D;
  color: #fff;
  font-size: 1.3em;
  letter-spacing: 0.1em;
  box-shadow: 1px 3px 20px rgba(17, 17, 17, 0.1);
  border-radius: 3px;
  outline: none;
}
.btn:hover {
  background: #fe9574;
}
